<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>Login space</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label class="ion-text-center ion-padding-top">
      <h1 style="color: white">Ads Manager</h1>
    </ion-label>
  </ion-item>
  <form [formGroup]="credentials" (ngSubmit)="login()">
    <ion-item class="ion-margin-bottom">
      <ion-input
        type="email"
        placeholder="Email"
        formControlName="email"
      ></ion-input>
      <ion-note
        slot="error"
        *ngIf="(email.dirty || email.touched) && email.errors"
        >Email is invalid</ion-note
      >
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-input
        type="password"
        placeholder="Password"
        formControlName="password"
      ></ion-input>
      <ion-note
        slot="error"
        *ngIf="(password.dirty || password.touched) && password.errors"
        >Password is invalid</ion-note
      >
    </ion-item>
    <ion-button
      expand="block"
      shape="round"
      type="submit"
      [disabled]="!credentials.valid"
      (click)="login()"
      >Login</ion-button
    >
    <ion-button expand="block" shape="round" type="button" (click)="register()"
      >Create account</ion-button
    >
  </form>
</ion-content>
