<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item class="ion-margin-bottom">
    <ion-label class="ion-text-center ion-padding-top">
      <h1 style="color: white">Ads Manager</h1>
    </ion-label>
  </ion-item>
  <form [formGroup]="credentials" (ngSubmit)="login()">
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-label position="floating">Email</ion-label>
      <ion-input
        type="email"
        placeholder="Email"
        formControlName="email"
        [clearInput]="true"
      ></ion-input>
      <ion-note
        slot="error"
        *ngIf="(email.dirty || email.touched) && email.errors"
        >Email is invalid</ion-note
      >
    </ion-item>
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-label position="floating">Password</ion-label>
      <ion-input
        type="password"
        placeholder="Password"
        formControlName="password"
        [clearInput]="true"
      ></ion-input>
      <ion-note
        slot="error"
        *ngIf="(password.dirty || password.touched) && password.errors"
        >Password is invalid</ion-note
      >
    </ion-item>
    <ion-button
      expand="block"
      type="submit"
      [disabled]="!credentials.valid"
      (click)="login()"
      >Login</ion-button
    >
    <ion-button
      class="ion-margin-top"
      expand="block"
      type="button"
      (click)="register()"
      >Create account</ion-button
    >
  </form>
</ion-content>
